:root{
    --accent-color:#2196F3;
    --primary-white:#FFFFFF;
    --main-black:#212121;
    --background-color:#2F303A;
    --main-text-color:#757575;
    --white-background:#F5F4FA;
    --box-shadow-color:#00000040;
  
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  
  }